body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}

a {
    color: #333;
    text-decoration: none;
}

#filter {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    will-change: opacity;
}

#hamburger {
    z-index: 2;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 0rem 1rem;
}

#hamburger p {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul ul {
    display: none;
    flex-flow: column wrap;
}

nav a {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease-out;
}

.active a {
    font-weight: bold;
}

nav li:hover>a {
    text-decoration: none;
    background-color: #fafafa;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 991.98px) {

    nav {
        position: fixed;
        z-index: 2;
        max-height: 98vh;
        max-width: 80vw;
        overflow-y: auto;
        left: 0px;
        top: 0vh;
        z-index: 2;
        background-color: #fff;
        border-radius: 1px;
        transform: translateX(-120%);
        padding: 1rem 0rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        will-change: transform;
    }

    nav ul {
        flex-flow: column wrap;
    }

    .d-active>ul {
        display: flex;
    }

    .d-active>ul a {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .d-active>a {
        background-color: #fafafa;
    }

    .brand {
        border-bottom: 1px solid #eee;
    }

    .brand a {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {

    #hamburger {
        display: none;
    }

    #filter {
        display: none;
    }

    .brand {
        display: none;
    }

    nav ul ul {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    nav a {
        font-size: 1.3rem;
    }

    nav li:hover>ul {
        display: flex;
    }

    nav li:focus-within>ul {
        display: flex;
    }
}